<div class="ui main text container">
    <div class="ui piled segment">
        <div class="ui fluid action input">
            {{input type="text" placeholder=placeholder value=searchText action="search" on="enter"}}
            <button {{action 'search' searchText}} class="ui icon button">
                <i class="search icon"></i>
            </button>
        </div>
        {{#if model}}
            <div class="ui divider"></div>

            {{#ui-accordion class='styled fluid'}}
                {{#each model as |aoitem|}}
                    {{found-item item=aoitem}}
                {{/each}}
            {{/ui-accordion}}
        {{/if}}
    </div>
</div>
